<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>K7777777的个人主页</title>
	<link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
	<script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<blockquote>
	<p>
		欢迎来到我的blog 我是K7777777 我开发了很多的项目有flask,php之类
	</p>
</blockquote>
<blockquote>
	我们之间的区别：
	<small>就是你喜欢百度 <cite title="Source Title">而我喜欢Github</cite></small>
</blockquote>
<blockquote class="pull-right">
	我想对你讲的话。
	<small>加油百度哦<cite title="Source Title">你永远是最辣鸡的!</cite></small>
</blockquote>

</body>
</html>